body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 80px;
    color: white;

    /* THEATRE STYLE BACKGROUND */
    background:
        radial-gradient(circle at center, #5a0000 0%, #1a0000 40%, #000000 100%);
}



/* HEADER */
.main-header {
.main-header {
    position: fixed;
    top: 0;
    left: 0;              /* ADD THIS */
    width: 100%;
    background: linear-gradient(to right, #000000, #1a0000);
    padding: 15px 0;
    border-bottom: 2px solid #8B0000;
    z-index: 9999;        /* INCREASE THIS */
}
}
.hero-line {
    width: 250px;
    height: 3px;
    background: gold;
    margin: 20px auto;  /* spacing above and below */
}

/* Center genre buttons */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;              /* ADD THIS */
    width: 100%;
    background: linear-gradient(to right, #000000, #1a0000);
    padding: 15px 0;
    border-bottom: 2px solid #8B0000;

    z-index: 99999;        /* VERY HIGH */
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.navbar button:hover {
    background: gold;
}

.logo { color: gold; font-size: 22px; }

.search-box input {
    padding: 6px 12px;
    border-radius: 20px;
    border: none;
}

/* HERO */
.hero {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background:
        linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)),
        url("open-curtain.jpg");

    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}


.hero-logo {
    font-size: 60px;
    color: gold;
    margin: 0;
}

.hero-tagline {
    margin-top: 15px;
    font-size: 18px;
    color: #ddd;
    letter-spacing: 2px;
}

/* MOVIES */
section { padding: 60px 20px; text-align: center; }

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.movie-card {
    position: relative;
    width: 220px;
    background: #1a1a1a;
    padding: 15px;
    border: 2px solid #8B0000;
    transition: 0.3s;
}

.movie-card:hover { transform: scale(1.05); }

.movie-card img {
    width: 100%;
    height: 300px;
}

.rating { color: gold; }

.description {
    font-size: 12px;
    color: #ccc;
    margin: 8px 0;
    line-height: 1.4;
}

/* SMALL WISHLIST */
.wishlist-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background: rgba(0,0,0,0.7);
    border: 1px solid red;
    color: white;
    font-size: 12px;
    padding: 4px 6px;
    cursor: pointer;
    border-radius: 5px;
}

.wishlist-btn.active { background: red; }

.rent-btn {
    background: gold;
    padding: 8px;
    border: none;
    cursor: pointer;
}

.footer {
    background: #111;
    padding: 30px;
    text-align: center;
}